.game-board {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(var(--board-size), 1fr);
  grid-template-rows: repeat(var(--board-size), 1fr);
}
.cell {
  height: 100%;
  width: 100%;
}
.head {
  height: 100%;
  width: 100%;
  background-color: hsl(120, 100%, 19%);
}
.body {
  height: 100%;
  width: 100%;
}
.fruit {
  height: 100%;
  width: 100%;
  background-color: red;
}
.gameover-overlay {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(170, 170, 170, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .gameover-title {
    color: black;
    font-size: 60px;
    width: 30%;
    text-align: center;
  }
  .gameover-score {
    font-size: 30px;
    color: black;
  }
  .gameover-button {
    cursor: pointer;
    font-size: 20px;
  }
}
